h1 Hi, login or subscribe.
h2 Login
form(action='/users/authenticate', method='POST')
	p
		label(for='username') Username : 
		input(type='text', name='username', id='username')
	p
		label(for='password') Password : 
		input(type='password', name='password', id='password')		
	p 
		input(type='submit', value='Login')	
//h2 Subscribe
//form(action='/users/subscribe', method='POST')
//	p
//		label(for='nusername') User :
//		input(type='text', name='nusername', id='nusername')
//	p
//		label(for='nemail') Email :
//		input(type='text', name='nemail', id='nemail')	
//	p
//		label(for='npassword') Password :
//		input(type='password', name='npassword', id='npassword')	
//	p
//		label(for='ncpassword') Confirm Password :
//		input(type='password', name='ncpassword', id='ncpassword')			
//	p 
//		input(type='submit', value='Subscirbe')		
