#miniMap
{
	 background-color:green;
	 opacity:0.15;

}

#bigMap
{
	width:256px;
	height:256px;
	right:0px;

	border:1px solid green;
	background-color:white;

}



.miniAnt
{
	width:2px;
	height:2px;
	position:absolute;
	background-color:green;
}
