body
{
	margin:0px;
	padding:0px;
	overflow: hidden;
}



#setActions {
	margin:0px;
	padding:0px;
}

#setActions li{
	list-style:none;
	width:80px;
	float:left;
}

.mapSize{
	width:100%;
	height:600px;
}

#mainScreen
{
	position:absolute;
	top:40px;
	left:0px;
	/*background-color:rgb(244, 243, 240);*/
	background-color:rgb(244, 243, 00);
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);

	border:none;
	background-repeat:no-repeat;
	background-position:0px 0px;
}


#navigationTop
{

	background-color:green;
	width:100%;
	height:40px;

}

#navigationRight
{
	position:absolute;
	top:40px;
	left:0px;
}

