#warn {
	background-color:red;
	padding:10px;
	border:1px solid red;
	opacity:0.6;
}

#staticimg {
	width:100%;
	height:100%;

}

#info{
    display: none;
}

#warn, #info{
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
  font-size:1.5em;
  padding:10px;
}

#warn{
  background-color: red;
}

#info{
  background-color: green;
}