#warn {
	background-color:red;
	padding:10px;
	border:1px solid red;
	opacity:0.6;
}

#staticimg {
	width:100%;
	height:100%;

}


.error{
  color:red;
}

.ninput-ok{
  background-color:green;
  color:white;
}
