!!! 5
html
	head
		link(rel='stylesheet', href='/media/css/main.css')
		script(type='text/javascript', src='/media/js/external_libs/jquery.min.js')			
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/media/js/socket.js')
	
		
		title= title
	body
		#main
		img(id='staticimg', src='http://maps.googleapis.com/maps/api/staticmap?center=48.837890444364774,2.392113855719572&zoom=21&size=256x256&sensor=false')
