!!! 5
html
  head
    script(type='text/javascript')
      var MOA_SERVER = '#{server}';
      var DRAW_MODE = '#{drawMode}';
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?v=3&sensor=false')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/libs/jquery.min.js')
    script(type='text/javascript', src='/js/libs/mousewheel.js')
    script(type='text/javascript', src='/js/libs/underscore.js')
    script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js")
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css")
    script(type='text/javascript', src='/js/camera.js')
    script(type='text/javascript', src='/js/game.js')
    script(type='text/javascript', src='/js/AntInfoBox.js')
    script(type='text/javascript', src='/js/WorldMap/WorldMap.js')
    script(type='text/javascript', src='/js/WorldMap/WorldMapOptions.js')
    script(type='text/javascript', src='/js/WorldMap/WorldMapGeocoder.js')
    script(type='text/javascript', src='/js/maps/markers.js')
    script(type='text/javascript', src='/js/maps/zones_maptype.js')
    script(type='text/javascript', src='/js/maps/maps.js')
    script(type='text/javascript', src='/js/top_navigation.js')
    script(type='text/javascript', src='/js/action_nodes.js')
    script(type='text/javascript', src='/js/GameCanvas/MiniMap.js');
    script(type='text/javascript', src='/js/startup.js');
    script(type='text/javascript', src='/js/SocketManager.js');
    script(type='text/javascript', src='/js/Inventory.js');
    script(type='text/javascript', src='/js/GameCanvas/GameCanvas.js');
    script(type='text/javascript', src='/js/CanvasCamera/CanvasCamera.js');
    script(type='text/javascript', src='/js/CanvasCamera/CanvasCameraPoint.js');
                  
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/elements.css')
    link(rel='stylesheet', href='/css/layout_design.css')
    link(rel='stylesheet', href='/css/MiniMap.css')
    link(rel='stylesheet', href='/css/Inventory.css')
    title= title
body
  div(id='tiles')
    div(id='navigationTop')
      text Search in map :  
      input(type='text', id='searchbox', value='')
      button(id='buttonSearchInMap') Search In Map !
      button(onclick='javascript:window.location.href="/users/logout";', id='buttonLogout') Logout
    div(id='woaAll')
      div(id='map_canvas', class='mapSize')
      canvas(id='mainScreen', class='mapSize') &nbsp;
    div(id='navigationRight')
      ul(id='setActions')
      div(id='fps')
      div(id='debugger')

